body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  
}
.amogus {
  background-color: white;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: block;
  margin: 0;
  border-bottom: 1px solid #ccc;

}

li:last-child {
  border-bottom: none;
}

a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #666;
}

a:hover {
  background-color: #ddd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-top: 400px;
  width: fit-content;
  height: fit-content;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col-md-6 {
  flex-grow: 1;
  flex-basis: 50%;
  margin: 5px;
  text-align: left;
  margin-left: 0px;
  
}



@media screen and (max-width: 768px) {
  .col-md-6 {
    flex-basis: 100%;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-right: 15px;
  margin-left: 0px;
  text-align: right;
  font-size: 20px;
  color: white;
}


#nav-bar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #f2f2f2;
  transition: all 0.3s ease-in-out;
}

#nav-btn {
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 20px;
  font-size: 36px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#nav-btn:hover {
  color: #f2f2f2;
}

.nav-open #nav-bar {
  left: 0;
}

.nav-open #nav-btn {
  left: 275px;
}

.nav-open .col-md-6 {
  margin-left: 250px;  
}

#text-box-1 {
  color: white;
}

.slideshow {
  max-width: 50%;
  position: relative;
  margin-left: 350px;
}
.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.slideshow img.active {
  opacity: 1;
}

#textbox {
  position: absolute;
  top: 0; /* adjust as necessary */
  right: 0;
  margin-right: 50px;
  text-align: center;
  max-width: 200px;
}
